<div class="test-error-image">
  <h1>Test for Problem 1</h1>
  <div>
    <input type="text" placeholder="Enter image url" (change) = "imgUrlChanged($event.target.value)">
  </div>
  <img class="thumbnail-image" src="{{imgUrl}}" (error)="setDefaultPic()" />
</div>
<div class="test-error-image">
  <h1>Test for Problem 2</h1>
  <a href="#section1" class="tag-section">Goto section1</a>
  <a href="#section2" class="tag-section">Goto section2</a>
  <a href="#section3" class="tag-section">Goto section3</a>
</div>
<div class="test-container">
  <h1>Test for Problem 3, 4</h1>
  <div class="prob3">
    <label for="" class="lbl-text">Select with ID:</label>
    <select (change)="onProb3Change($event.target.value)">
      <option value="{{customer.id}}" *ngFor="let customer of customers">ID : {{customer.id}}</option>
    </select>
    <label for="" id="search_result"></label>
  </div>

  <div class="example-header">
    <input (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.date}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

<div class="test-container select-container">
  <div class="form-group m-form__group">
    <h1>Test for select with id</h1>
    <div class="container">
      <div class="input-group section " id="section1">
        <h1 class="section-content">This is section1</h1>
      </div>
      <div class="input-group section" id="section2">
        <h1 class="section-content">This is section2</h1>
      </div>
      <div class="input-group section" id="section3">
        <h1 class="section-content">This is section3</h1>
      </div>
    </div>
  </div>
</div>