h1{
  text-align: center;
  color: #1976d2;
  margin: 30px;
}

.test-error-image{
  text-align: center;
  margin: 30px;
  .tag-section{
    margin: 30px;
  }
}

.test-container{
  padding: 50px;
  .prob3{
    padding: 30px;
    label{
      margin: 20px;
    }
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.select-container{
  .input-group{
    height: 800px;
    &.section{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &#section1{
      background-color: lightblue;
    }
    &#section2{
      background-color: lightcoral;
    }
    &#section3{
      background-color: lightgreen;
    }
  }
}